.genre--row {
    margin-left: 1.5rem;

    .card {
        object-fit: contain;
        height: 200px;
        margin-right: 0.75rem;
        transition: all 400ms;

        @media only screen and (max-width: 450px) {
            flex-direction: column;
            gap: 0.6rem;
        }

        &:hover {
            scale: 1.08;
        }
    }

    @media only screen and (max-width: 450px) {
        margin-left: 0.5rem;

        .card {
            height: 100px;
            margin-right: 0.2rem;
        }

    }
}

.card--container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;

    &:-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  
    scrollbar-width: none;

}




